*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar a{
    color: rgb(47, 50, 65);
}
.navbar{
    
    padding:30px 100px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-links ul{
    display: flex;
    font-weight:bolder;
    
}
.nav-links ul li{
    margin: 0 30px;
}
button{
    padding: 0.3rem 0.5rem; 
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}